@charset 'UTF-8';
@-webkit-keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@-webkit-keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@-webkit-keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

    src: url(../fonts/opensanslight.woff), url(../fonts/opensanslight.woff2);
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/opensans.woff), url(../fonts/opensans.woff2);
}

@font-face
{
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: url(../fonts/opensansbold.woff), url(../fonts/opensansbold.woff2);
}

.body-wrapper
{
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    position: relative;

    color: #002f2f; 
    background-color: #faf9ef;
}

.preload
{
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img
{
    max-width: 100%;
    height: auto;
}

@keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

.page-header
{
    position: relative;
}

.main-nav
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    width: 100%;

    text-align: center; 

    background: #002f2f;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
}

.main-nav__logo
{
    width: 70px;
    height: 36px;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.main-nav__logo img
{
    width: 15%;
}

.main-nav__item,
.main-nav__items
{
    position: relative; 

    margin: 0;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
}

.main-nav__item
{
    margin-bottom: 20px;
}

.main-nav__item-active
{
    margin-bottom: 0;
}

.main-nav__item a
{
    font-size: 18px;
    font-weight: 700; 
    line-height: 24px;

    display: block;

    margin: 0;
    padding: 0;
    padding: 5px 15px;
    padding-bottom: 5px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

.main-nav__call a
{
    font-family: inherit; 
    font-size: 0;
    line-height: 0;

    position: relative;

    display: block;

    margin-left: 10%;

    text-decoration: none;

    color: #fff;
}
.main-nav__call a:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s; 

    color: #7bf5b5;
}
.main-nav__call a::before
{
    position: absolute;
    top: -29px;
    right: 100px;

    width: 20px;
    height: 20px;

    content: '';

    background: url('../../img/call-answer.svg') center no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
}

.main-nav__toggle
{
    font-size: 0;

    position: absolute;
    z-index: 2;
    top: 3px;
    right: 0;

    display: block;

    width: 70px;
    height: 33px;

    cursor: pointer;

    border: none; 
    outline: none;
    background-color: #002f2f;
}
.main-nav__toggle:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s; 

    background-color: rgba 255, 255, 255, .2;
}
.main-nav__toggle:active
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s; 

    background-color: #86c5ff;
}

.main-nav--closed .main-nav__toggle::after
{
    font-size: 10px;

    position: absolute;
    top: 21px;
    left: 17px;

    width: 10px; 

    content: 'Меню';

    color: #fff;
}

.main-nav--closed .main-nav__toggle::before
{
    position: absolute;
    top: 2px;
    left: 17px;

    width: 25px;
    height: 3px;

    content: '';

    -webkit-border-radius: 2px;
            border-radius: 2px; 
    background-color: #fff;
    -webkit-box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
            box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}

.main-nav--closed .main-nav__toggle:active::before
{
    background-color: rgba(255, 255, 255, .3);
    -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, .3), 0 16px 0 0 rgba(255, 255, 255, .3);
            box-shadow: 0 8px 0 0 rgba(255, 255, 255, .3), 0 16px 0 0 rgba(255, 255, 255, .3);
}

.main-nav--opened .main-nav__toggle
{
    top: 0;
    right: auto;
    left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after
{
    position: absolute;
    top: 15px;
    left: 18px;

    width: 26px;
    height: 4px;

    content: '';

    -webkit-border-radius: 2px;
            border-radius: 2px; 
    background-color: #fff;
}
.main-nav--opened .main-nav__toggle::before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    -webkit-box-shadow: none;
            box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after
{
    background-color: rgba(255, 255, 255, .3);
}

.main-nav__item a[href]:hover
{
    -webkit-transition: .3s;
         -o-transition: .3s;
            transition: .3s; 

    background-color: rgba(207, 207, 207, .3);
}

.main-nav__item a[href]:active
{
    color: rgba(255, 255, 255, .3);
    background-color: rgba(207, 207, 207, .6);
}

.main-nav--closed .main-nav__item
{
    display: none;
}
.main-nav--closed .main-nav__item-active
{
    display: block;
}

.main-nav--opened .main-nav__wrapper
{
    position: absolute;
    z-index: 10; 
    top: 0;
    right: 0;
    left: 70px;

    height: auto;

    -webkit-animation: main-picture-bounce .5s;
            animation: main-picture-bounce .5s;

    background: #002f2f;
}

.main-nav--opened .main-nav__wrapper::before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 7px;
    height: 100%;

    content: '';

    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, .4);
            box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, .4);
}

.main-nav--nojs .main-nav__toggle
{
    display: none;
}

.main-nav--nojs .main-nav__wrapper
{
    position: static;

    height: auto;
}

.main-nav--nojs .main-nav__item
{
    display: block;
}

.main-nav-nojs .main-nav__item--active a
{
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
}

.main-nav__item .main-nav__social-link
{
    width: 50%;
    min-width: 250px;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 3%; 
    padding-top: 8px;

    text-align: center;

    border: 1px solid #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
}

@keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

.intro h1
{
    font-family: inherit; 
    font-size: 1.5em;
    line-height: 50px;

    margin: 0;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-align: center;
    text-decoration: none;

    color: #002f2f;
}

@keyframes modal-bounce
{
    0%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    50%
    {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes main-nav-after-bounce
{
    0%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100%
    {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes main-picture-bounce
{
    0%
    {
        -webkit-transform: translateY(-120px);
                transform: translateY(-120px);
    }
    50%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%
    {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

.cards__wrapper
{
    background-color: #fffefd;
}

.cards__bread-crumbs
{
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
}
.cards__bread-crumbs a
{
    font-family: inherit; 

    position: relative;

    display: inline-block;

    margin: 0;
    margin-right: 26px;
    margin-left: 13px;
    padding: 0;
    padding-bottom: 3px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;

    color: #002f2f;
}
.cards__bread-crumbs a::before
{
    position: absolute;
    top: 0;
    right: -25px;

    display: block;

    width: 18px;
    height: 18px;

    content: '';

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #f5f8f8;
    background-image: url('../img/bread-crumbs-arrow.png');
    background-repeat: no-repeat; 
    background-position: center;
}
.cards__bread-crumbs a:nth-child(3)::before
{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.cards__bread-crumbs__link--active
{
    border-bottom: 1px dotted #002f2f;
}

.cards__container-item
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    width: 320px;
    min-height: 522px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-right: 53px; 
    padding-left: 53px;

    border: 1px solid #a7a37e;
    -webkit-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.cards__container-item img
{
    display: block;

    width: 100%;
    margin: 0 auto; 
    padding-top: 48px;
}

.cards__container-title
{
    font-size: 24px;
    line-height: 30px; 

    margin: 0;
    padding: 0;
    padding-top: 46px;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
}

.cards__container-item-features-list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex; 

    margin: 0;
    margin-top: 50px;
    padding: 0;

    border-collapse: collapse;
    list-style: none;

    text-decoration: none;
}

.cards__container-item-features-item
{
    font-size: 16px;

    color: #a7a37e;
}

.cards__container-item-features-item:first-child
{
    position: relative;

    color: #046380;
}
.cards__container-item-features-item:first-child::before
{
    position: absolute;
    top: 0;
    left: 0;
    left: -8px;

    display: block;

    width: 3px;
    height: 33px;

    content: '';

    -webkit-border-radius: 3px;
            border-radius: 3px; 
    background-color: #046380;
}

.cards__container-item-features-item:nth-child(2)
{
    margin-right: 15px; 
    margin-left: 23px;
}

.cards__container-item-price
{
    font-size: 24px;
    line-height: 26px;

    padding-top: 40px;

    color: #313639;
}

.cards__container-item-status
{
    font-family: inherit;
    font-size: 12px;
    line-height: 14px;

    z-index: 0; 

    width: 318px;
    margin-top: 28px;
    margin-left: -53px;
    padding-top: 13px;
    padding-bottom: 13px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #a7a37e;
}

@media (min-width: 1140px)
{
    .page-header
    {
        position: fixed;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
                flex-direction: row;

        min-height: 50px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
                justify-content: center;
    }
    .page-header__logo
    {
        width: 60%;

        border-right: 2px solid #fff; 

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .page-header__logo-link
    {
        position: static;

        width: 45%;
    }
    .page-header__phone a
    {
        font-family: inherit; 
        font-size: 1em;

        padding-left: 1%;
        padding-left: 15%;
    }
    .page-header__phone a::before
    {
        top: -2%;
        left: -1%;
    }
    .main-nav
    {
        z-index: 99; 

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .main-nav__toggle
    {
        display: none;
    }
    .main-nav--closed .main-nav__item
    {
        display: block;
    }
    .page-header .main-nav
    {
        padding-left: 1%;

        background: -webkit-gradient(linear, left top, left bottom, from(#049aff), to(#86c5ff));
        background: -webkit-linear-gradient(top, #049aff, #86c5ff);
        background:      -o-linear-gradient(top, #049aff, #86c5ff);
        background:         linear-gradient(to bottom, #049aff, #86c5ff);
    }
    .main-nav--opened .main-nav__wrapper
    {
        height: auto;
    }
    .main-nav__items
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }
    .main-nav__item a
    {
        font-size: 18px;
        font-weight: bold; 
        line-height: 36px;

        display: block;

        margin: 0;
        padding: 0;
        padding: 10px 10px;
        padding-top: 10px;
        padding-bottom: 13px;

        border-collapse: collapse;
        list-style: none;

        text-decoration: none;
        text-decoration: none;
        text-transform: none;

        color: #fff;
        border-top: none;
        border-bottom: none;
    }
    .main-nav__item:hover::before
    {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        width: auto;
        height: 3px;

        content: '';
        -webkit-animation: main-nav-after-bounce .2s;
                animation: main-nav-after-bounce .2s; 

        -webkit-border-radius: 20px;
                border-radius: 20px;
        background-color: #fff;
    }
    .main-nav--closed .main-nav__toggle::before
    {
        display: none;
    }
    .main-nav--closed .main-nav__item
    {
        display: block;
    }
    .main-nav--opened .main-nav__wrapper
    {
        -webkit-animation: none;
                animation: none;
    }
    .main-nav--opened .main-nav__wrapper::before
    {
        display: none;
    }
    .main-nav__item a[href]:hover
    {
        background-color: none;
    }
    .main-nav__item a[href]:active
    {
        color: rgba(255, 255, 255, .3);
        background-color: none;
    }
    .main-nav--opened .main-nav__wrapper
    {
        position: static;

        background: none;
    }
    .main-nav--opened .main-nav__toggle
    {
        display: none;
    }
    .main-nav__item-active
    {
        border: none;
    }
}
