@import "variables.scss";

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/opensanslight.woff),
    url(../fonts/opensanslight.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/opensans.woff),
    url(../fonts/opensans.woff2)
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/opensansbold.woff),
    url(../fonts/opensansbold.woff2)
}

.body-wrapper {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: $body-bg;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-font-color;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}